<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript" src = "jquery-3.1.1.min.js"></script>


<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body>

<form id="form1" name="data" method="post" action="/post">
    start(start:1 stop:0) <input type="text" name="start" value={{ start }} ></br>
    effect(int)<input type="text" name="effect" id="effect" value={{ effect }} ></br>
    duration(float)<input type="text" name="duration" id="duration" value={{ duration }} >sec</br>
    interval(float)<input type="text" name="interval" id="interval" value={{ interval }} >sec</br>
  <button type="submit" class="btn btn-default">send</button>
</form>
{% if start %}
Start:{{ start }}
{% endif %}
{% if effect %}
Effect:{{ effect }}
{% endif %}
{% if duration %}
Duration:{{ duration }}
{% endif %}
{% if interval %}
Interval:{{ interval }}
{% endif %}

</body>
</html>
